@import "tailwindcss";

@theme {
  --font-headline: "Lexend", "Noto Sans SC", sans-serif;
  --font-body: "Plus Jakarta Sans", "Noto Sans SC", sans-serif;
  --font-label: "Plus Jakarta Sans", "Noto Sans SC", sans-serif;

  --color-surface-bright: #f6f6f6;
  --color-surface-variant: #dbdddd;
  --color-on-tertiary: #fff1df;
  --color-on-tertiary-fixed: #342200;
  --color-tertiary-container: #f7b21f;
  --color-on-secondary-fixed-variant: #00691a;
  --color-outline: #767777;
  --color-on-secondary-container: #005e17;
  --color-on-secondary: #d1ffc8;
  --color-primary-container: #ff7a2c;
  --color-surface-container-low: #f0f1f1;
  --color-tertiary-fixed: #f7b21f;
  --color-tertiary-fixed-dim: #e7a407;
  --color-surface-container-high: #e1e3e3;
  --color-surface-tint: #9b3f00;
  --color-surface-container: #e7e8e8;
  --color-error-dim: #b92902;
  --color-surface-container-lowest: #ffffff;
  --color-primary-dim: #883700;
  --color-on-primary-fixed: #000000;
  --color-on-surface-variant: #5a5c5c;
  --color-primary-fixed-dim: #f46800;
  --color-secondary-container: #91f78e;
  --color-inverse-on-surface: #9c9d9d;
  --color-surface: #f6f6f6;
  --color-background: #f6f6f6;
  --color-on-error: #ffefec;
  --color-on-primary-container: #401600;
  --color-on-background: #2d2f2f;
  --color-inverse-primary: #fd6c00;
  --color-on-tertiary-container: #4f3600;
  --color-secondary-dim: #005d16;
  --color-on-tertiary-fixed-variant: #5b3e00;
  --color-tertiary-dim: #6b4900;
  --color-primary-fixed: #ff7a2c;
  --color-tertiary: #7a5400;
  --color-on-secondary-fixed: #00480f;
  --color-on-surface: #2d2f2f;
  --color-error-container: #f95630;
  --color-error: #b02500;
  --color-surface-container-highest: #dbdddd;
  --color-on-primary: #fff0ea;
  --color-outline-variant: #acadad;
  --color-inverse-surface: #0c0f0f;
  --color-on-error-container: #520c00;
  --color-secondary: #006b1b;
  --color-surface-dim: #d3d5d5;
  --color-secondary-fixed: #91f78e;
  --color-on-primary-fixed-variant: #4f1d00;
  --color-primary: #9b3f00;
  --color-secondary-fixed-dim: #83e881;
}

@layer base {
  body {
    @apply bg-background font-body text-on-background antialiased;
  }
}

.editorial-gradient {
  background: linear-gradient(135deg, #9b3f00 0%, #f46800 100%);
}

.glass-nav {
  @apply bg-white/80 backdrop-blur-xl border-t border-zinc-200/20;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
